{% extends "layout.html" %}
{% block style %}
<style>
	*{
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}
	.content{
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
{%endblock style%}
{% block body%}
<div class="content">

<!-- nav bar ended -->
{% for item in institute %}
<!-- card -->
	<div class="card" style="width: 18rem;padding: 3rem 1rem;margin: 3rem 1rem;">
  <div class="card-body">
    <h5 class="card-title">college</h5>
    <p class="card-text">Name: {{item.name}}</p>
    <p class="card-text">Branch: {{item.branch}}</p>
    <p class="card-text">Open: {{item.open}}</p>
    <p class="card-text">Close: {{item.close}}</p>
    <p class="card-text">Category: {{item.category}}</p>
  </div>
</div>
<!-- card ended -->
{% endfor %}

</div>
{%endblock body%}
